# Python objects

Before we go much further into numerical modeling, we should stop and discuss some of the inner workings of Python. Recognizing the way values can be handled by Python will give you flexibility in programming and help you avoid common errors.

Early in the previous lesson, we saw that we could assign a value to a variable using the symbol <code>=</code>:

In [1]:
elevation_ft = 5430 # elevation of Boulder, CO in feet

#callout
Documentation is important!

One way to include documentation in your programs is with comments. Comments are text within the code that the computer ignores. In Python, comments start with the symbol <code>#</code>.

The variable name <code>elevation_ft</code> is not itself the value 5430. It is simply a label that points to a place in the memory where the **object** with the value <code>5430</code> is stored.

This is different from the way the symbol = is used in algebra. An equation like this one represents different things in Python and in algebra:

In [23]:
x = 4 + 1

In both cases, the letter 'x' corresponds to the value 5. In algebra, 'x' is equivalent to 5; the symbol is simply taking the place of the number. In Python, 'x' is not itself 5; it is a name that points to an object with a value of 5. The variable name 'x' is short-hand for the address where the object is stored in the memory.

#callout
## What is an object?

We can think of objects as the things that Python programs manipulate.

Different programming languages define "object" in different ways. *Everything in Python is an object* and almost everything has attributes and methods. Strings are objects. Lists are objects. Functions are objects. Even modules are objects.

Objects are classified into different **classes** or **data types** that define the kinds of things that a program can do with those objects. An integer (like <code>5430</code> above) is one type of object, the string "Hello, World!" is also an object, and the *numpy array* of elevation values in the previous lesson was another type of object.

### Integers

We can use the built-in function <code>type</code> to see what type a particular object is:

In [3]:
type(5430)

int

The number <code>5430</code> is an object of type **int**, or integer. We can also use <code>type</code> see the type of  object that the variable is assigned to:

In [4]:
type(elevation_ft)

int

The variable <code>elevation_ft</code> is assigned to an object with the value <code>5430</code>, which is of type int. Integer is one of several built-in data types in Python. Because they are built in, we don’t need to load a library to use them.

### Floats

Real numbers (*potentially* with decimals) are floating point numbers or **floats**:

In [5]:
elevation_m = 1655.064 # elevation of Boulder, CO in meters

type(elevation_m)

float

#test
What type of object are these values?

- 5.6
- 1932
- 7.0000
- 22.

#solution
- float
- int
- float
- float

#callout

## Math with integers and floats

One would expect that a programming language would follow the same rules of arithmatic that we learned as kids. Confusingly, that’s not always the case:

In [24]:
print '7/2 =', 7/2

7/2 = 3

In the real world, half of 7 is 3.5! Why is it behaving this way?

In Python 2 (but not Python 3), dividing an integer (the number 7) by another integer (the number 2) always results in an integer. This is known as **integer division**. If either number is a float, though, division behaves as expected and returns a float:

In [25]:
print '7.0000000001/2 =', 7.0000000001/2

7.0000000001/2 = 3.50000000005

While this might seem strange and unnecessarily annoying, some programming languages use integer division for historical reasons: integers take up less memory space and integer operations were much faster on early machines. By default, Python 3 does not use integer division.

Adding a decimal point to a whole number makes it a float:

In [26]:
print '7 is', type(7)
print '-' * 20
print '7. is', type(7.)
print '7.0 is', type(7.0)

7 is <type 'int'>
--------------------
7. is <type 'float'>
7.0 is <type 'float'>

We can also convert between types through **casting** (we'll look at this again later). To convert an integer into a float, use the function **float()**:

In [35]:
num_int = 7

print 'integer division:', num_int / 2
print 'after casting:', float(num_int) / 2

integer division: 3
after casting: 3.5

### Booleans

Other types of objects in Python are a bit more unusual. **Boolean** objects can take one of two values: False or True. We will see in a later lesson that boolean objects are produced by operations that compare values against one another and by conditional statements.

You'll notice that the words True and False change color when you type them into a Jupyter Notebook. They look different because they are recognized as special keywords. This only works when True and False are capitalized, though! Python does not treat lower case true and false as boolean objects.

In [6]:
i_like_chocolate = True
type(i_like_chocolate)

bool

When used in an arithmetic operation, a boolean object acts like an integer of value 0 or 1, respectively:

In [7]:
print 3 * True
print 3.0 * True
print 3.0 * False

3
3.0
0.0

### NoneType

The most abstract of object types in Python is the **NoneType**. NoneType objects can only contain the special constant **None**. <code>None</code> is the value that an object takes when no value is set or in the absence of a value. <code>None</code> is a null or NoData value. It is not the same as False, it is not 0 and it is not an empty string. <code>None</code> is nothing.

If you compare <code>None</code> to anything other than <code>None</code>, <code>None</code> will always be less than the other value (In Python 3, comparing <code>None</code> to another object will instead produce an error):

In [8]:
nothing = None
print type(nothing)

print nothing > -4
print nothing == nothing # single = assigns variables, double == compares for equivalency

<type 'NoneType'>
False
True

Why would you ever want to create an object that contains nothing at all? As you build more complex programs, you'll find many situations where you might want to set a variable but don't want to assign a value to it quite yet. For example, you might want your code to perform one action if the user sets a certain variable but perform a different action if the user does nothing:

In [9]:
input_from_user = None

## The user might or might not provide input here.
## If the user provides input, the value would get assigned to the variable input_from_user

if input_from_user is None:
    print "The user hasn't said anything!"
    
if input_from_user is not None:
    print "The user said:", input_from_user

The user hasn't said anything!

#callout

You can use the <code>whos</code> command to see what variables you have created and what modules you have loaded into the memory. This is an iPython command, so it will only work if you are in an iPython terminal or a Jupyter Notebook.

In [10]:
whos

Variable           Type        Data/Info
----------------------------------------
elevation_ft       int         5430
elevation_m        float       1655.064
i_like_chocolate   bool        True
input_from_user    NoneType    None
nothing            NoneType    None
x                  int         5

## Sequences

There are several built-in object types in Python for storing multiple values in an organized structure. We can use **indexing** to extract individual values from **sequences** and **slicing** to extract sections with multiple values.

### Strings

Objects of type **string** are simply sequences of characters with a defined order. Strings have to be enclosed in sigle quotes (' '), double quotes (" "), triple single or double quotes (''' ''', """ """), or single quotes within double quotes ("' '"):

In [11]:
print type("The judge said 'Nobody expects the Spanish Inquisition!'")

<type 'str'>

### Lists

A **list** is exactly what it sounds like – a sequence of things. The objects contained in a list don’t have to be of the same type: one list can simultaneously contain numbers, strings, other lists, numpy arrays, and even commands to run. Like other sequences, lists are ordered. We can access the individual items in a list through an integer index.

Lists are created by putting values, separated by commas, inside square brackets:

In [113]:
shopping_list = ['funions', 'ice cream', 'guacamole']

We can change the individual values in a list using indexing:

In [112]:
shopping_list[0] = 'funyuns' # oops
print shopping_list

['funyuns', 'ice cream', 'guacamole']

There are many ways to change the contents of lists besides assigning new values to individual elements:

In [103]:
shopping_list.append('tortilla chips') # add one item
print shopping_list

['funyuns', 'ice cream', 'guacamole', 'tortilla chips']

In [104]:
del shopping_list[0] # delete the first item
print shopping_list

['ice cream', 'guacamole', 'tortilla chips']

In [105]:
shopping_list.reverse() # reverse the order of the list (in place)
print shopping_list

['tortilla chips', 'guacamole', 'ice cream']

### Tuples

Like lists, **tuples** are simply sequences of objects. Tuples are created by putting values, separated by commas, inside parenthesis:

In [12]:
things = ('toy cars', 42, 'elephant')
print type(things)

<type 'tuple'>

#test

- When we write down a large integer, it's customary to use commas (or periods, depending on the country) to separate the number into groups of three digits. It's easier for humans to read a large number with separators but Python sees them as something else. What type of object is this?

my_account_balance = 15,752,000,000

#solution

In [14]:
my_account_balance = 15,752,000,000

type(my_account_balance)

tuple

#test

- Create a tuple that contains only one value. Confirm that it's really a tuple. You might have to experiment!

Hint: Start with a tuple with two values and simplify it.

#solution

In [15]:
lil_tuple = 1,

type(lil_tuple)

tuple

There is one very important difference between lists and tuples: lists can be modified while tuples cannot.

#callout
## Ch-ch-changes

Data which can be modified in place is called **mutable**, while data which cannot be modified is called **immutable**. Strings, numbers and tuples are immutable. This does not mean that variable names assigned to these objects will forever be assigned to those objects! If we want to change the value of a string, number, or tuple, we do it by re-assigning the variable name to a completely new object in memory.

In [133]:
fav_animal = 'capibara' # misspelled!
print fav_animal[3]

fav_animal[3] = 'y' # change to capybara

i

TypeError: 'str' object does not support item assignment

In [136]:
fav_animal2 = fav_animal # both variable names point to same object

fav_animal2 = 'capybara' # re-assign variable name to new object

print 'Old object:', fav_animal
print 'New object:', fav_animal2

Old object: capibara
New object: capybara

In [137]:
text = "Your Mother was a Hamster, and your Father smelt of Elderberries!"

In [142]:
text[-1:-len(text)-1:-2]

'!ererdEf lm etFro n rtmHaswrho uY'

Lists and numpy arrays, on the other hand, are mutable objects: we can modify them in place after they have been created. We can change individual elements, append new elements, or reorder the whole list. For operations like sorting, we can choose whether to use a function that modifies the data in place or a function that leaves the original object unchanged and creates a new, modified object with a new variable name.

Be careful when modifying data in place. **If two variables refer to the same list and you modify a value in the list, it will change the contents of the list for both variables.** If you want to have two variables refer to independent versions of the same mutable object, you must make a copy of the object when you assign it to the new variable name.

Consider the relationship between variable names and objects in this script:

In [85]:
mildSalsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
hotSalsa = mildSalsa # both salsas point to the same object

hotSalsa[0] = 'jalapenos' # change the recipe for hot salsa

print 'Mild salsa:', mildSalsa
print 'Hot salsa:', hotSalsa

Mild salsa: ['jalapenos', 'onions', 'cilantro', 'tomatoes']
Hot salsa: ['jalapenos', 'onions', 'cilantro', 'tomatoes']

Because both variable names <code>mildSalsa</code> and <code>hotSalsa</code> point to the same mutable object, changing the recipe for one also changed the recipe for the other.

If we want variables with mutable values to be independent, we must make a copy of the object:

In [84]:
mildSalsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
hotSalsa = list(mildSalsa) # make a **copy** of the list

hotSalsa[0] = 'jalapenos' # change the recipe for hot salsa

print 'Mild salsa:', mildSalsa
print 'Hot salsa:', hotSalsa

Mild salsa: ['peppers', 'onions', 'cilantro', 'tomatoes']
Hot salsa: ['jalapenos', 'onions', 'cilantro', 'tomatoes']

Code that modifies data in place can be more difficult to understand (and therefore to debug). However, it is often far more efficient to modify a large data structure in place than to create a modified copy for every small change. You should consider both of these aspects when writing your code.

In [175]:
num_float = 7.0

print "'normal' division:", num_float / 2
print 'after casting:', int(num_float) / 2

'normal' division: 3.5
after casting: 3

In [232]:
string = "if it's in caps i'm trying to YELL!"

print string.lower()
print string.upper()
print string.split()
print string.replace('YELL', 'fix my keyboard')

print string.find('caps')

print string[-1:-len(string)-1:-1].find('spac')
print string[11:-20]

print '/'.join(string.split())

if it's in caps i'm trying to yell!
IF IT'S IN CAPS I'M TRYING TO YELL!
['if', "it's", 'in', 'caps', "i'm", 'trying', 'to', 'YELL!']
if it's in caps i'm trying to fix my keyboard!
11
20
caps
if/it's/in/caps/i'm/trying/to/YELL!

In [303]:
from math import exp

bool(2e-324)

False

In [172]:
s1 = 3 * shopping_list[-1:]
s2 = 3 * shopping_list[-1]

print s1, type(s1)
print s2, type(s2)

print shopping_list[-1:], type(shopping_list[-1:])
print shopping_list[-1], type(shopping_list[-1])

['cheese', 'cheese', 'cheese'] <type 'list'>
cheesecheesecheese <type 'str'>
['cheese'] <type 'list'>
cheese <type 'str'>

In [162]:
shopping_list = ['tortilla chips', 'guacamole', 'ice cream']

shopping_list = shopping_list + ['coffee', 'cheese']

print shopping_list

['tortilla chips', 'guacamole', 'ice cream', 'coffee', 'cheese']

#callout
## Object ID

We can find the address of an object in memory with the function <code>id()</code>. This function returns the “identity” of an object: an integer which is guaranteed to be unique and constant for this object during its lifetime.

Two variables names that point to the same mutable object will show the same ID.

In [125]:
mildSalsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
hotSalsa = mildSalsa

print 'Variable 1 to mutable obj:', id(mildSalsa)
print 'Variable 2 to mutable obj:', id(hotSalsa)

Variable 1 to mutable obj: 4548266248
Variable 2 to mutable obj: 4548266248

When the second variable name is tied to an independing copy of the mutable object, the two variable names will have different IDs:

In [127]:
hotSalsa = list(mildSalsa)

print 'Original mutable obj:', id(mildSalsa)
print 'Copied mutable obj:', id(hotSalsa)

Original mutable obj: 4548266248
Copied mutable obj: 4551753672

## Non-continuous slices

So far we’ve seen how to use slicing to take single blocks of successive entries from a sequence. But what if we want to take a subset of entries that aren’t next to each other in the sequence?

You can achieve this by providing a third argument - the step size - to the index range within the brackets. The example below shows how you can take every third entry in a list:

In [107]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
subset = primes[0:12:3]

print "Every third prime:", subset

Every third prime: [2, 7, 17, 29]

Notice that the slice taken begins with the first entry in the range, followed by entries taken at equally-spaced intervals (the steps) thereafter. If you wanted to begin the subset with the third entry, you would need to specify that as the starting point of the sliced range:

#test

Use the step size argument to create a new string that contains only every other character in the string "Your Mother was a Hamster, and your Father smelt of Elderberries!".

#solution

In [110]:
text = "Your Mother was a Hamster, and your Father smelt of Elderberries!"
print text[::2]

Yu ohrwsaHmtr n orFte ml fEdrere!

## Mapping types

### Dictionaries

Because values in sequences are stored a known order, individual values in sequence-type objects can be accessed by position through integer indices. **Dictionaries** are a type of object where values are not stored in any particular order. Dictionaries are unordered collections of **key:value** pairs. They map (or match) keys, which can be any immutable type (strings, numbers, tuples), to values, which can be of any type (heterogeneous). Individual values in a dictionary are accessed by their keys.

We create dictionaries with curly brackets and pairs of keys and values. An empty dictionary would simply have no key:value pairs inside the curly brackets:

In [108]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
subset = primes[2:12:3]

print "Every third prime:", subset

Every third prime: [5, 13, 23, 37]

In [16]:
person = {'name':'Jack', 'age': 32}
print person

{'age': 32, 'name': 'Jack'}

Notice that the order of the key:value pairs is different in the dictionary definition than in the output! Because values in a dictionary are not stored in a particular order, they take an arbitrary order when the dictionary is displayed.

We can access and modify individual values in a dictionary with their keys:

In [17]:
person['age'] = 33
print person

{'age': 33, 'name': 'Jack'}

We can also use keys to add values to a previously defined dictionary:

In [18]:
person['address'] = 'Downtown Boulder'  
print person

{'age': 33, 'name': 'Jack', 'address': 'Downtown Boulder'}

#test

- Create an empty dictionary called "states"
- Add 3 items to the dictionary. Map state names (the keys) to their abbreviations (the values) (ex. 'Wyoming':'WY'). Pick easy ones!
(You can use states from another country or look here: http://www.50states.com/abbreviations.htm)


#solution

In [19]:
states = {}

states['Colorado'] = 'CO'
states['California'] = 'CA'
states['Florida'] = 'FL'

#test
- Use a variable in place of a key to access values in your <code>states</code> dictionary. For example, if I set the variable to "Wyoming", the value should be "WY".


#solution

In [20]:
selected_state = 'California'

print states[selected_state]

CA

#test

- Create a dictionary called "cities" that contains 3 key:value pairs. The keys should be the state abbreviation in your <code>states</code> dictionary and the values should be the names of one city in each of those states state (ex. 'WY':'Laramie'). Don't start with an empty dictionary and add values to it -- initialize the dictionary with the all of the key:value pairs already in it.

#solution

In [21]:
cities = {'CO':'Denver', 'FL':'Miami', 'CA':'San Francisco'}

#challenge

- Write a short script to fill in the blanks in this string for any state in your <code>states</code> dictionary.

\_\_\_\_\_\_\_\_\_\_ is abbreviated \_\_\_\_ and has cities like \_\_\_\_\_\_\_\_

- Refactor (rewrite, improve) your code so you only have to change one word in your script to change states.

<br>

Hints:
- You can use '+' to concatenate strings
- The values in one of your dictionaries are the keys in the the other dictionary

#solution

In [22]:
selected_state = 'Colorado'

print selected_state + ' is abbreviated ' + states[selected_state] + ' and has cities like ' + cities[states[selected_state]]

Colorado is abbreviated CO and has cities like Denver

#callout
## Converting between types

Many Python functions are sensitive to the type of object they receive. For example, you cannot concatenate a string with an integer:

In [28]:
age = 21
sign = 'You must be ' + age + '-years-old to enter this bar'
print sign

TypeError: cannot concatenate 'str' and 'int' objects

You will often find yourself needing to convert one data type to another. This is called **casting**. Luckily, conversion functions are easy to remember: the type names double up as a conversion function:

- <code>int()</code>: *strings*, *floats* -> *integers*
- <code>float()</code>: *strings*, *integers* -> *floats*
- <code>str()</code>: all types -> *strings*
- <code>list()</code>: *strings*, *tuples*, *dictionaries* -> *lists*
- <code>tuple()</code>: *strings*, *tuples* -> *dictionaries*

#test
## Variables in strings

Fix the second line of the example above so it prints the text in <code>sign</code> correctly. Don't simply change the first line to <code>age = "21"</code>!

#solution

In [30]:
age = 21
sign = 'You must be ' + str(age) + '-years-old to enter this bar'
print sign

You must be 21-years-old to enter this bar

#test
## Lemonade sales

You get hired to work for a highly successful lemonade stand. Their database is managed by a 7-year-old. These are their sales reports for FY2017:

In [56]:
sales_1q = ["50.3"] # thousand dollars
sales_2q = 108.52
sales_3q = 79
sales_4q = "82"

- Calculate the total sales for FY2017

#solution

In [64]:
total_sales = float(sales_1q[0]) + sales_2q + sales_3q + float(sales_4q)
print 'Total lemonade sales:', str(total_sales) + ' thousand dollars'

Total lemonade sales: 319.82 thousand dollars

#test
## Aquarium inventory

An aquarium has exhibits for these species:

In [65]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp']

- Convert this list to a tuple

In [77]:
element = 'tungsten'
list(element)

['t', 'u', 'n', 'g', 's', 't', 'e', 'n']